  
.nav-item:hover {
    background-color: #ff00f2;
}

@media screen and (max-width: 7000px) {
    header {
        height: 10%;
        background-color: deeppink;
        background-size: 10%;
    }
    th {
        background-color: deeppink;
    }
    td {
        background-color: deeppink;
    }
}
img {
    width: 50%;
}

.row {
    padding: 10%;
}

#footer {
    text-align: center;
}

#footer > h6 {
    color: black;
}

#footer h6:hover {
    color: blue;
}

#footer h6 {
    font-family: Verdana, Arial;
}

th {
    color: rgb(168, 0, 0);
}
td {
    color: rgb(0, 19, 190);
}
.table-data {
    color:black;
}